.project-card {
    width: 48%;
    margin-top: 25px;
}
.project-card img {
    width: 60%;
    height: auto;
}
.pro-content h1 {
    margin-bottom: 5px;
}
.pro-content,.pro-thumb  {
    text-align: center;
}

.pro-content p {
    line-height: 24px;
    font-size: 15px;
    margin-bottom: 10px;
}
.pro-content span {
    color: #34d584;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.pro-content a {
    display: inline-block;
    margin: 10px 0;

}